[submodule "frontend"]
	path = frontend
	url = https://github.com/Alberto02003/Horarios-Automaticos-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Alberto02003/Horarios-Automaticos-Backend.git
